.bash_history
.aumixrc
.lesshst
.recently-used
.serverauth*
.ssh*
.smb
.backups*
.VirtualBox
.adobe
.cache
.cddb
.dbus
.gimp-2.4
.gphoto
.cmus*
.dwh
.fonts
.icons
.java
.wine
.thumbnails
.xmonad
.fontconfig
.gconf
.openoffice*
.themes
.local
.qt
.FEHBG*
.weechat
.subversion
.var
.dvdcss
.moc
.irssi/config .irssi/config.autosave
*irssi/*theme
docs
funnies
software
tmp
images
music
TODO
gaf
octave
samba
sandbox

