/*
!.*

.ICEauthority
.VirtualBox/
.Xauthority
.adobe/
.bash_history
.cache/
.config/.libreoffice/
.config/Trolltech.conf
.config/autostart/
.config/dconf/
.config/enchant/
.config/eog/
.config/ghb/
.config/gnome-control-center/
.config/gnome-panel/
.config/google-chrome/
.config/gtk-2.0/
.config/inkscape/
.config/monitors.xml
.config/monitors.xml.backup
.config/smplayer/
.config/sonata/
.config/totem/
.config/xarchiver/
.covers/
.cups/
.dbus/
.dropbox/
.dvdcss/
.easytag/
.eclim/
.elinks
.esd_auth
.fltk/
.fontconfig/
.galculator
.gconf/
.gconfd/
.gitconfig
.gksu.lock
.gnome2/
.gstreamer-0.10/
.gtk-bookmarks
.gvimrc
.htoprc
.java/
.lesshst
.local/
.lyrics/
.macromedia/
.mission-control/
.mozilla/
.mplayer/
.nx/
.pentadactyl/colors/
.pentadactyl/info/
.pki/
.pulse-cookie
.pulse/
.qt/
.ssh/
.thumbnails/
.var/
.viminfo
.weechat/
.wicd/
.wine
.xsel.log
.xsession-errors
